@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --amarillo: #eac926;
    --azul: #03264C;
    --celeste: #0f49a1;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;

    --FuentePrincipal:'Roboto', sans-serif;;

    --cuerpo-de-texto:12px;
    --titulares:24px;
    --precios:18px;
    --descuentosYdescripciones:16px;
}